[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
flask = "*"
flask-sqlalchemy = "*"
spotipy = "*"
sklearn = "*"
pandas = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
